<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>MarketBase</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" media="screen" href="/static/css/style.css">


</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100" data-aos-easing="slide"
      data-aos-duration="800" data-aos-delay="0" data-new-gr-c-s-check-loaded="14.991.0" data-gr-ext-installed=""
      class="">
<link type="text/css" rel="stylesheet" media="screen" href="/static/css/style.css">
<link rel="stylesheet" href="https://preview.colorlib.com/theme/launch/css/bootstrap.min.css">
<link rel="stylesheet" href="https://preview.colorlib.com/theme/launch/css/owl.carousel.min.css">
<link rel="stylesheet" href="https://preview.colorlib.com/theme/launch/css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://preview.colorlib.com/theme/launch/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="https://preview.colorlib.com/theme/launch/fonts/icomoon/style.css">
<link rel="stylesheet" href="https://preview.colorlib.com/theme/launch/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="https://preview.colorlib.com/theme/launch/css/aos.css">
<link rel="stylesheet" href="https://preview.colorlib.com/theme/launch/css/style.css">

<div class="lines-wrap">
    <div class="lines-inner">
        <div class="lines"></div>
    </div>
</div>

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body">
        <ul class="site-nav-wrap">
            <li class="active"><a href="/" class="nav-link active">Home</a></li>
            <li class="has-children"><span class="arrow-collapse collapsed" data-toggle="collapse"
                                           data-target="#collapseItem0"></span>
                <a href="#" class="nav-link">Orders</a>
                <ul class="collapse" id="collapseItem0">
                    <li><a href="/orders/new" class="nav-link">New</a></li>
                    <li><a href="/orders" class="nav-link">My Orders</a></li>
                </ul>
            </li>
        </ul>
        <ul class="site-nav-wrap">
            <div>
                <li class="cta-button-outline"><a href="/orders">Orders</a></li>
            </div>

        </ul>
    </div>
</div>
<nav class="site-nav dark js-site-navbar mb-5 site-navbar-target">
    <div class="container">
        <div class="site-navigation">
            <a href="/" class="logo m-0 float-left"><span>MarketBase</span><span
                    class="text-primary">.</span></a>
            <ul class="js-clone-nav d-none d-lg-inline-block site-menu float-left">
                <li class="active"><a href="#home-section" class="nav-link active">Home</a></li>

                <li class="has-children">
                    <a href="#" class="nav-link">Orders</a>
                    <ul class="dropdown">
                        <li><a href="/orders/new" class="nav-link">New</a></li>
                        <li><a href="/orders/" class="nav-link">My Orders</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                <ul class="js-clone-nav d-none mt-1 d-lg-inline-block site-menu float-right">
                    <li class="cta-button-outline"><a href="/orders">Orders</a></li>
                </ul>
            </div>


            <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block dark d-lg-none"
               data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
    </div>
</nav>

<div class="container mt-5 mb-5">
    <div class="background-white container-radius">
        <h4>Creating new order</h4>
        <!-- multistep form -->
        <form id="msform" method="post" action="/orders/new">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Template</li>
                <li>Modules</li>
                <li>Complete</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Chose template</h2>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 mt-3" th:each="template_ : ${templates_}">
                        <div class="card selectCard" data-id="1" th:data-name="${template_.getName()}"
                             style="text-align: left; box-shadow: 0 1px 6px #eee;">
                            <img class="card-img-top" style="height: 300px;
                                                             object-position: top;
                                                             object-fit: cover;"
                                 th:src="${template_.getPreview()}" th:alt="${template_.getName()}">
                            <div class="card-body">
                                <h6 class="card-title" th:text="${template_.getName()}"/>

                                <strong>
                                    <h7>Modules:</h7>
                                </strong>
                                <div>
                                    <div th:each="module : ${template_.getModules()}"
                                         style="display: inline-block; margin-right: 7px;">
                                        <h7 th:text="${module.getName()}"/>
                                        <strong>
                                            <h7 th:text="${module.getPrice()}"/>
                                        </strong>
                                    </div>
                                </div>

                                <hr>
                                <a href="#" class="btn btn-black">Select</a>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="templateId" id="templateId">
                <input type="button" name="next" id="templateBtn" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Chose Modules</h2>
                <h3 class="fs-subtitle">What website functionality do you need?</h3>

                <div id="modules" class="card-deck"></div>
                <input type="hidden" name="modules" id="modulesInp">
                <input type="button" name="previous" class="previous action-button" value="Previous"/>
                <input type="button" id="modulesBtn" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Order</h2>
                <h3 class="fs-subtitle">Order details</h3>

                <div>
                    <h5>Template: <span id="templateName"></span></h5>
                    <h6>Modules: <span id="modulesList"></span></h6>
                    <h5>Total: <span id="total"></span></h5>
                </div>

                <input type="button" name="previous" class="previous action-button" value="Previous"/>
                <input type="submit" name="submit" class="submit action-button" value="Submit"/>
            </fieldset>
        </form>
    </div>
</div>
<script src="/static/js/stepForm.js"></script>
<script src="/static/js/scripts.js"></script>
<script>
    $("#msform").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: `/api/orders`,
            data: $(this).serialize(),
            success: function (response) {
                document.location = "/orders";
            },
            error: function (response) {
                $("#serverCredentialStatus").text("Error while saving");
            }
        })

    });


    let selected = false;
    let templateName = "";
    $(".selectCard").click(function () {
        templateName = "";
        if (!$(this).hasClass("selected")) {
            $(this).css("border", "black solid 2px");
            $("#templateId").val($(this).data("id"));
            $(this).addClass("selected");
            templateName = $(this).data("name");
            selected = true;
        } else {
            $(this).css("border", "none");
            $("#templateId").val(null);
            $(this).removeClass("selected");
            selected = false;
        }

    });

    $("#templateBtn").click(function () {

        APIRequest(`/api/templates/${$("#templateId").val()}`, function (template) {
            console.log(template);
            $("#modules").html(``);
            for (let module of template.modules) {
                $("#modules").append(`
                    <div class="card moduleCard" data-id="${module.id}" data-name="${module.name}" data-price="${module.price}" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">${module.name}</h5>
                        <p class="card-text">${module.description}</p>
                        <a href="#" id="module-${module.id}" class="btn btn-black">Add for ${module.price}.руб</a>
                      </div>
                    </div>`);
            }
        })
    });

    $("body").on("click", '.moduleCard', function () {
        if (!$(this).hasClass("selected")) {
            $(this).addClass("selected");
            $(`#module-${$(this).data("id")}`).text("Selected");
        } else {
            $(this).removeClass("selected");
            $(`#module-${$(this).data("id")}`).text(`Add for ${$(this).data("price")}.руб`);
        }

    });

    let modules = "";
    let modulesList = "";
    let total = 0;
    $("#modulesBtn").click(function () {
        modules = "";
        total = 0;
        for (let module of document.getElementsByClassName("moduleCard")) {
            if (module.classList.contains("selected")) {
                modules += module.dataset.id + ";";
                modulesList += module.dataset.name + "; ";
                total += parseInt(module.dataset.price);
            }

        }

        $("#modulesInp").val(modules);
        $("#total").text(total + ".руб");
        $("#modulesList").text(modulesList);
        $("#templateName").text(templateName);
    });


</script>

</body>
</html>
